name : Terraform Apply(GitOps - Test)
  
on:
        push:
                branches:
                        - main

jobs:
        terraform-apply:
                name: Apply Infrastructure Changes
                runs-on: ubuntu-latest
                environment: production


                steps:
                        - name: Checkout code
                          uses: actions/checkout@v4


                        - name: Setup Terraform
                          uses: hashicorp/setup-terraform@v3


                        - name: Configure AWS credentials
                          uses: aws-actions/configure-aws-credentials@v4

                          with:
                                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                                  aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

                        - name: Terraform Apply (Project 01 only)
                          run: |
                            cd project-01-ec2-terraform
                            terraform init
                            terraform apply -auto-approve


